<section id="edit-page">
    <div class="editSection">
        <div class="info">
            <h2>Edit your own wine!</h2>
        </div>

        <form #editForm="ngForm" (ngSubmit)="handleEdit()" class="editForm">
            <h2>Edit Wine</h2>
            <ul class="noBullet">
                <li>
                    <label for="name">Name:</label>
                    <input #name="ngModel" [ngModel]="wine?.name" type="text" class="inputFields" id="title" name="name"
                        required minlength="3" />

                    <ng-container *ngIf=" name.touched && name.invalid">
                        <app-error *ngIf="name.errors?.['required']"> Name is required! </app-error>
                        <app-error *ngIf="name.errors?.['minlength']"> Name must be at leat 3 letters long!
                        </app-error>
                    </ng-container>

                </li>
                <li>
                    <label for="type">Type: Please select from the list!</label>
                    <select #type="ngModel" [ngModel]="wine?.type" id="type" name="type" required>
                        <option value="Red">Red</option>
                        <option value="White">White</option>
                        <option value="Rose">Rose</option>
                        <option value="Sparkling">Sparkling</option>
                    </select>

                    <ng-container *ngIf="type.touched && type.invalid">
                        <app-error *ngIf="type.errors?.['required']"> Please choose type! </app-error>
                    </ng-container>

                </li>
                <li>
                    <label for="origin">Origin:</label>
                    <input #origin="ngModel" [ngModel]="wine?.origin" type="text" class="inputFields" id="origin"
                        name="origin" required minlength="3" />

                    <ng-container *ngIf="origin.touched && origin.invalid">
                        <app-error *ngIf="origin.errors?.['required']"> Origin is required! </app-error>
                        <app-error *ngIf="origin.errors?.['minlength']"> Origin must be at leat 3 letters long!
                        </app-error>
                    </ng-container>

                </li>
                <li>
                    <label for="price">Price in EUR:</label>
                    <input #price="ngModel" [ngModel]="wine?.price" type="number" class="inputFields" id="price"
                        name="price" min="0.01" required />

                    <ng-container *ngIf="price.touched && price.invalid">
                        <app-error *ngIf="price.errors?.['required']"> Price is required! </app-error>
                        <app-error *ngIf="price.errors?.['min']"> Price must be a positive number! </app-error>
                    </ng-container>

                </li>
                <li>
                    <label for="image">Wine image:</label>
                    <input #image="ngModel" [ngModel]="wine?.image" type="text" class="inputFields" id="image"
                        name="image" required minlength="3" />

                    <ng-container *ngIf="image.touched && image.invalid">
                        <app-error *ngIf="image.errors?.['required']"> Image is required! </app-error>
                        <app-error *ngIf="image.errors?.['minlength']"> The field must be must be a valid url!
                        </app-error>
                    </ng-container>

                </li>
                <li>
                    <label for="description">Wine Description:</label>
                    <textarea #description="ngModel" [ngModel]="wine?.description" id="description" class="inputFields"
                        name="description" required minlength="5"></textarea>

                    <ng-container *ngIf="description.touched && description.invalid">
                        <app-error *ngIf="description.errors?.['required']"> Description is required! </app-error>
                        <app-error *ngIf="description.errors?.['minlength']"> Description must be at leat 5 letters
                            long!
                        </app-error>
                    </ng-container>

                </li>
                <li id="center-btn">
                    <button [disabled]="editForm.invalid" id="edit-btn">Edit</button>
                </li>
            </ul>
        </form>

    </div>
</section>