<section id="register-page">
  <div class="signupSection">
    <div class="info">
      <h2>Please sing up to discover new wines and share your preference.</h2>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="signupForm">
      <h2>Sign Up</h2>
      <ul class="noBullet">
        <li>
          <label for="first-name">First Name:</label>
          <input formControlName="firstName" type="text" class="inputFields" id="first-name" name="firstName"
            placeholder="Peter" />

          <ng-container
            *ngIf="registerForm.controls['firstName'].touched && registerForm.controls['firstName'].invalid">
            <app-error *ngIf="registerForm.controls['firstName'].errors?.['required']">
              Please fill in first name!
            </app-error>
            <app-error *ngIf="registerForm.controls['firstName'].errors?.['minlength']">
              First name must be at least 2 characters long!
            </app-error>
          </ng-container>
        </li>

        <li>
          <label for="last-name">Last Name:</label>
          <input formControlName="lastName" type="text" class="inputFields" id="last-name" name="lastName"
            placeholder="Johnson" />

          <ng-container *ngIf="registerForm.controls['lastName'].touched && registerForm.controls['lastName'].invalid">
            <app-error *ngIf="registerForm.controls['lastName'].errors?.['required']"> Please fill in last name!
            </app-error>
            <app-error *ngIf="registerForm.controls['lastName'].errors?.['minlength']"> Last name must be at least 2
              letter long! </app-error>
          </ng-container>
        </li>
        <li>
          <label for="email">Email:</label>
          <input formControlName="email" type="text" class="inputFields" id="email" name="email"
            placeholder="alex@gmail.com" />
          <ng-container *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid">
            <app-error *ngIf="registerForm.controls['email'].errors?.['required']"> Please fill in an email!
            </app-error>
            <app-error *ngIf="registerForm.controls['email'].errors?.['email']"> Please fill in a valid email!
            </app-error>
          </ng-container>
        </li>

        <!-- <div formGroupName="passwords"> -->
        <li>
          <label for="password">Password:</label>
          <input formControlName="password" type="password" class="inputFields" id="password" name="password"
            placeholder="******" />
          <ng-container *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].invalid">
            <app-error *ngIf="registerForm.controls['password'].errors?.['required']"> Please fill in a password!
            </app-error>
            <app-error *ngIf="registerForm.controls['password'].errors?.['minlength']"> Pasword must be at least 5
              characters! </app-error>
          </ng-container>
        </li>
        <li>
          <label for="rePassword">Repeat-Password:</label>
          <input formControlName="rePassword" type="password" class="inputFields" id="rePassword" name="rePassword"
            placeholder="******" />
          <ng-container
            *ngIf="registerForm.controls['rePassword'].touched && registerForm.controls['rePassword'].invalid">
            <app-error *ngIf="registerForm.controls['rePassword'].errors?.['required']"> Repeat password is required!
            </app-error>
            <app-error
              *ngIf="registerForm.controls['rePassword'].errors?.['passwordsNotMatch'] && !registerForm.controls['rePassword'].errors?.['required']">
              Paswords don't match! </app-error>
          </ng-container>
        </li>
        <!-- </div> -->
        <li id="center-btn">
          <button [disabled]="registerForm.invalid" id="join-btn">{{registerForm.valid ? 'Join' : 'Please fill in the form'}}</button>
          <!-- <button  id="join-btn">Join</button> -->
        </li>
      </ul>
    </form>
  </div>
</section>