<section id="user">
    <div class="user-info" *ngIf="!!currentUser">
        <div class="user-logo">
            <img src="/assets/img/user-logo.webp">


        </div>
        <h1 class="user-email">{{currentUser.firstName}} {{currentUser.lastName}} - {{currentUser.email}}</h1>
        <h2 class="created-blogs-count">Total Created Wines: {{(myWines$ | async)?.length}}</h2>
        <h2 class="followed-blogs-count">Total Liked Wines: {{(myLikes$ | async)?.length}}</h2>
    </div>
</section>


<section class="profile-blogs">

    <div class="created-blogs">
        <h2 class="section-title">Created Wines</h2>

        <ng-container *ngFor="let wine of myWines$ | async">
            <div class="info">
                <h2 class="title">{{wine.name}}</h2>
                <h4 class="type">type: {{wine.type}}</h4>
                <div class="see-more">
                    <a [routerLink]="['/wine/details', wine._id]">See More...</a>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="(myWines$ | async)?.length == 0">
            <h2 class="no-blog-in-profile">You haven't published a wine yet...</h2>
        </ng-container>

    </div>

    <div class="followed-blogs">
        <h2 class="section-title">Liked Wines</h2>

        <ng-container *ngFor="let wine of myLikes$ | async">
            <div class="info">
                <h2 class="title">{{wine.name}}</h2>
                <h4 class="type">type: {{wine.type}}</h4>
                <div class="see-more">
                    <a [routerLink]="['/wine/details', wine._id]">See More...</a>
                </div>
            </div>
        </ng-container>
        
        <ng-container *ngIf="(myWines$ | async)?.length == 0">
        <h2 class="no-blog-in-profile">You have not liked wines yet…</h2>
        </ng-container>
    </div>

</section>