<section id="home">
    <div class="home-container">

        <div class="short-info">
            <h1>The best of the wine selection.</h1>
            <h2>Share your choice to add value to the wine market in the country.</h2>
        </div>

    </div>
</section>

<section id="home-page">

    <div class="offers">
        <div class="col container"><img src="/assets/img/bottle-neck.jpg" alt="bottle-neck"></div>
        <div class="col container"><img src="/assets/img/wine-drink.jpg" alt="wine-drink"></div>
        <div class="col container"><img src="/assets/img/red-wine-glass-bottle.jpg" alt="red-wine"></div>
        <div class="col container"><img src="/assets/img/red-wine-bottles.jpg" alt="red-wine-bottles"></div>
    </div>

</section>
