<section id="home">
    <div class="home-container">

        <div class="short-info">
            <h1>The best of the wine selection this week.</h1>
            <h2>Share your choice to add value to the wine market in the country.</h2>
        </div>

    </div>
</section>

<section id="home-page">

    <div class="offers">
        <!-- Do not forget to change the path to the image -->
        <div class="col container"><img src="../../../../assets/img/GreenCape-SovBlanc.png" alt="wine_GreenCape"></div>
        <div class="col container"><img src="../../../../assets/img/Ribeaupierre-Syrah.png" alt="wine_Ribeaupierre-syra"></div>
        <div class="col container"><img src="../../../../assets/img/Ribeaupierre-Rose.png" alt="wine_Ribeaupierre-Rose"></div>
        <div class="col container"><img src="../../../../assets/img/Valmarone-sparkl.png" alt="wine_Valmarone-sparkling"></div>
    </div>

</section>
