<section class="catalog" id="catalog">
    <ng-container *ngIf="showSpinner; else winePosts">
        <h1> Loading...</h1>
        <div>
            <mat-spinner id="spinner"></mat-spinner>
        </div>
    </ng-container>

    <ng-template #winePosts>
        <h1>My Wine Posts</h1>


        <div class="container">
            <ng-container *ngIf="wineList.length > 0; else noWines">
                <div class="wine" *ngFor="let wine of wineList">
                    <div class="info-container">
                        <img src={{wine.image}}>
                        <div class="info">
                            <h2>Name: {{wine.name}}</h2>
                            <p>Type: {{wine.type}}</p>
                        </div>
                    </div>
                    <div class="details-btn">
                        <a [routerLink]="['/wine/details', wine._id]" class="details">Details</a>
                    </div>
                </div>
            </ng-container>

            <ng-template #noWines>
                <h2 class="no-record">You have not posted yet</h2>
            </ng-template>

        

        </div>
    </ng-template>


</section>
