<section id="details-page">

    <div class="main_card">
        <div class="card_left">
            <div class="card_datails">

                <h1>Name: ........</h1>
                <h3>Created by: Alex Petkov</h3>
                <div class="card_wine">
                    <p class="card-keyword">Type: ....</p>
                    <p class="card-location">Origin: ....</p>
                    <p class="card-location">Price: ....</p>
                    <p class="card-date">Date: 18.02.2021</p>
                </div>

                <p class="disc">Description: Nice.</p>

                <!-- If there is no registered user, do not display buttons-->
                <div class="social-btn">
                    <!-- Only for registered user and author of the post -->
                    <a routerLink="/edit" class="edit-btn">Edit</a>
                    <a href="#" class="del-btn">Delete</a>
                    <!-- logged in users, who have not yet voted-->
                    <a href="#" class="vote-up">Like +1</a>
                    <a href="#" class="vote-down">Unlike -1</a>
                    <!-- logged in user who has already voted-->
                    <p class="thanks-for-vote">Thanks For Liking</p>

                </div>
            </div>
        </div>
        <div class="card_right">
            <img src="../../../../assets/img/Valmarone-sparkl.png" alt="image">
        </div>
    </div>

</section>

<section id="votes">
    <div class="vote-info">
        <div class="card_left">
            <div class="card_datails">
                <h1>Likes</h1>
                <div class="card_vote">
                    <!-- Show the rating of votes, if there are no votes yet, the number must be 0. -->
                    <p class="PV">Total rating of likes: 0</p>
                </div>
                <!-- If there are already people who have cast their vote for the post, separate their emails with a comma and a space ", " -->
                <!-- <p class="disc">People who voted for the post - alex@gmai.com, petar@gmail.com, petq@gmail.com</p>-->

                <!-- If not display: -->
                <p class="disc">People who liked for the post - No likes yet.</p>
            </div>
        </div>
    </div>
</section>


