<section id="details-page">

    <div class="main_card">
        <div class="card_left">
            <div class="card_datails">

                <h1>Name: {{wine.name}}</h1>
                <h3>Created by: {{wine._ownerId.firstName}} {{wine._ownerId.lastName}}</h3>
                <div class="card_wine">
                    <p class="card-keyword">TYPE: {{wine.type}}</p>
                    <p class="card-location">ORIGIN: {{wine.origin}}</p>
                    <p class="card-location">PRICE: {{wine.price | currency: 'EUR'}}</p>
                    <p class="card-date">POST DATE: {{wine.createdAt | date}}</p>
                </div>

                <p class="disc">WINE DESCRIPTION: {{wine.description}}</p>

                <!-- If there is no registered user, no buttons displayed-->
                <div *ngIf="(user$ | async)" class="social-btn">

                    <!-- Only for registered user and author of the post -->
                    <ng-container *ngIf="isCreator">
                        <button [routerLink]="['/wine/edit', wine._id]" class="edit-btn">Edit</button>
                        <button class="del-btn" (click)="deleteHandler()">Delete</button>
                    </ng-container>

                    <ng-container *ngIf="!isCreator">
                        <ng-container *ngIf="!hasLiked; else thanks">
                            <button class="vote-up" (click)="likeHandler()">Like +1</button>
                        </ng-container>

                        <!-- logged in user who has already liked-->
                        <ng-template #thanks>
                            <button class="vote-down" (click)="unlikeHandler()">Unlike -1</button>
                            <span class="thanks-for-vote">Thanks For Liking</span>
                        </ng-template>

                    </ng-container>

                </div>
            </div>
        </div>
        <div class="card_right">
            <img src={{wine.image}} alt="image">

        </div>
    </div>

</section>

<section id="votes">
    <div class="vote-info">
        <div class="card_left">
            <div class="card_datails">
                <h1>Likes</h1>
                <div class="card_vote">
                    <p class="PV">Total likes: {{totalLikes}}</p>
                </div>
                <!-- if there are likes -->
                <ng-container *ngIf="peopleLiked; else noLikes">
                    <p class="disc">People who the wine post - {{peopleLiked}}</p>
                </ng-container>
                <!-- No Likes -->
                <ng-template #noLikes>
                    <p class="disc">People who liked the wine post - No likes yet.</p>
                </ng-template>
            </div>
        </div>
    </div>
</section>