<nav>
  <img src="../../../assets/img/logo.png" alt="logo_picture" />

  <ul class="menu">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/all">All Posts</a></li>

    <ng-container *ngIf="userService.isLoggedIn$ | async">
      <li><a routerLink="/create">Create Post</a></li>
      <li>
        <a routerLink="/my-wines"
          >Posts of ({{ (user$ | async)?.email | slice: 0:5 }}...)</a>
      </li>
      <li><a routerLink="/profile">Profile</a></li>
      <li (click)="logoutHandler()"><a href="javascript:void(0)">Logout</a></li>
    </ng-container>

    <ng-container *ngIf="!(userService.isLoggedIn$ | async)">
      <li><a routerLink="/register">Register</a></li>
      <li><a routerLink="/login">Login</a></li>
    </ng-container>
  </ul>
</nav>
