<section id="user">
    <div class="user-info" *ngIf="!!currentUser">
        <div class="user-logo">
            <img src="../../../../assets/img/user-logo.webp">
            
            
        </div>
        <h1 class="user-email">{{currentUser.firstName}} {{currentUser.lastName}} - {{currentUser.email}}</h1>
        <h2 class="created-blogs-count">Total Created Wines: 1</h2>
        <h2 class="followed-blogs-count">Total Liked Wines: 2</h2>
    </div>
</section>
<section class="profile-blogs">
    <div class="created-blogs">
        <h2 class="section-title">Created Wines</h2>
        <div class="info">
            <h2 class="title">TODO......</h2>
            <h4 class="type">TODO......</h4>
            <div class="see-more">
                <a href="#">See More...</a>
            </div>
        </div>

        <!-- If there are no created wines
            <h2 class="no-blog-in-profile">You haven't published a wine yet...</h2>
        -->
    </div>

    <div class="followed-blogs">
        <h2 class="section-title">Liked Wines</h2>
        <div class="info">
            <h2 class="title">TODO......</h2>
            <h4 class="type">TODO......</h4>
            <div class="see-more">
                <a href="#">See More...</a>
            </div>
        </div>
        <div class="info">
            <h2 class="title">TODO......</h2>
            <h4 class="type">TODO.....</h4>
            <div class="see-more">
                <a href="#">See More...</a>
            </div>
        </div>
        
        <!-- If there are no liked wines
        <h2 class="no-blog-in-profile">You have no wines liked yet…</h2>
        -->
    </div>

</section>

